<td>
    <input type="checkbox" ng-model="ctrl.mergedAttribute.allChecked"
           ng-change="ctrl.onCheckAttribute({ mergedAttribute: ctrl.mergedAttribute })"
           indeterminate="ctrl.mergedAttribute.checked">
</td>
<td>{{ctrl.mergedAttribute.title}}</td>
<td>{{ctrl.mergedAttribute.description}}</td>
<td>
    <span ng-repeat="path in ctrl.mergedAttribute.paths">
        {{path}}<br/>
    </span>
</td>
<td>
    <select dku-bs-select ng-model="ctrl.mergedAttribute.data_type"
            ng-options="option.value as option.label for option in ctrl.aggregateDataTypeFields.data_type.options"
            ng-change="ctrl.onUpdateDataType({ mergedAttribute: ctrl.mergedAttribute })">
    </select>
</td>
<td>
    <div ng-repeat="(aggregateName, aggregate) in ctrl.aggregateDataTypeFields.aggregates"
         ng-show="aggregate.isVisible(ctrl.mergedAttribute)">
        {{aggregate.label}}
        <select dku-bs-select ng-model="ctrl.mergedAttribute[aggregateName]"
                ng-options="option.value as option.label for option in aggregate.options"
                ng-change="ctrl.onUpdateAggregate({ mergedAttribute: ctrl.mergedAttribute })"
                ng-if="aggregate.type === 'select'">
        </select>
        <select dku-bs-select multiple ng-model="ctrl.mergedAttribute[aggregateName]"
                ng-options="option.value as option.label for option in aggregate.options"
                ng-change="ctrl.onUpdateAggregate({ mergedAttribute: ctrl.mergedAttribute })"
                ng-if="aggregate.type === 'multiselect'">
        </select>
        <input type="text" ng-model="ctrl.mergedAttribute[aggregateName]"
               ng-change="ctrl.onUpdateAggregate({ mergedAttribute: ctrl.mergedAttribute })"
               ng-if="aggregate.type === 'text'">
        <input type="number" ng-model="ctrl.mergedAttribute[aggregateName]"
               ng-change="ctrl.onUpdateAggregate({ mergedAttribute: ctrl.mergedAttribute })"
               ng-if="aggregate.type === 'number'">
    </div>
</td>
