<td>
    <input type="checkbox" ng-model="ctrl.mergedAttribute.allChecked"
           ng-change="ctrl.onCheckAttribute({ mergedAttribute: ctrl.mergedAttribute })"
           indeterminate="ctrl.mergedAttribute.checked"
           ng-if="!ctrl.isSingleAttribute && !ctrl.showPartialCheckInfo()"
    >
    <input type="checkbox" ng-model="ctrl.mergedAttribute.checked"
           ng-change="ctrl.onCheckAttribute({ mergedAttribute: ctrl.mergedAttribute })"
           ng-if="ctrl.isSingleAttribute"
    >
    <input type="checkbox" ng-model="ctrl.mergedAttribute.allChecked"
           ng-change="ctrl.onCheckAttribute({ mergedAttribute: ctrl.mergedAttribute })"
           indeterminate="ctrl.mergedAttribute.checked"
           ng-if="!ctrl.isSingleAttribute && ctrl.showPartialCheckInfo()"
           toggle="tooltip-bottom"
           ng-attr-title="{{ ctrl.generatePartialStateInfo() }}"
    >
</td>
<td class="custom-table__attribute-cell"
    colspan="{{ ctrl.isSingleAttribute ? 2 : 1 }}">
    <span
            class="tree-guide"
            ng-if="ctrl.isSingleAttribute"
            ng-class="{ 'is-last': ctrl.isLast }"
    ></span>
    <div class="custom-table__attribute-title-info"
         ng-if="ctrl.isSingleAttribute"
         style="padding-left: 35px;"
    >
        <span
                class="tree-elbow"
                style="left: 20px;"
        >
        </span>
        {{ctrl.prettifyElementPath(ctrl.mergedAttribute.path, true)}}
    </div>
    <div class="custom-table__attribute-title-info">
        <i ng-if="!ctrl.isSingleAttribute && ctrl.displayDetailAttributes && ctrl.mergedAttribute.opened"
           class="dku-icon-chevron-down-16"
           ng-click="ctrl.mergedAttribute.opened = !ctrl.mergedAttribute.opened"></i>
        <i ng-if="!ctrl.isSingleAttribute && ctrl.displayDetailAttributes && !ctrl.mergedAttribute.opened"
           class="dku-icon-chevron-right-16"
           ng-click="ctrl.mergedAttribute.opened = !ctrl.mergedAttribute.opened"></i>
        <span ng-if="!ctrl.isSingleAttribute">{{ctrl.mergedAttribute.title}}</span>
    </div>
</td>
<td ng-if="!ctrl.isSingleAttribute">
    {{ctrl.mergedAttribute.description}}
</td>
<td>
    <select dku-bs-select ng-model="ctrl.mergedAttribute.data_type"
            ng-options="option.value as option.label for option in ctrl.aggregateDataTypeFields.data_type.options"
            ng-change="ctrl.onUpdateDataType({ mergedAttribute: ctrl.mergedAttribute })"
            ng-if="!ctrl.isSingleAttribute">
    </select>
    <span ng-if="ctrl.isSingleAttribute">{{ctrl.mergedAttribute.data_type}}</span>
</td>
<td>
    <div class="custom-table__aggregate-field"
         ng-repeat="(aggregateName, aggregate) in ctrl.aggregateDataTypeFields.aggregates"
         ng-show="aggregate.isVisible(ctrl.mergedAttribute)">
        {{aggregate.label}}
        <select dku-bs-select ng-model="ctrl.mergedAttribute[aggregateName]"
                ng-options="option.value as option.label for option in aggregate.options"
                ng-change="ctrl.onUpdateAggregate({ mergedAttribute: ctrl.mergedAttribute })"
                ng-if="!ctrl.isSingleAttribute && aggregate.type === 'select'">
        </select>
        <select dku-bs-select multiple ng-model="ctrl.mergedAttribute[aggregateName]"
                ng-options="option.value as option.label for option in aggregate.options"
                ng-change="ctrl.onUpdateAggregate({ mergedAttribute: ctrl.mergedAttribute })"
                ng-if="!ctrl.isSingleAttribute && aggregate.type === 'multiselect'">
        </select>
        <input type="text" ng-model="ctrl.mergedAttribute[aggregateName]"
               ng-change="ctrl.onUpdateAggregate({ mergedAttribute: ctrl.mergedAttribute })"
               ng-if="!ctrl.isSingleAttribute && aggregate.type === 'text'">
        <input type="number" ng-model="ctrl.mergedAttribute[aggregateName]"
               ng-change="ctrl.onUpdateAggregate({ mergedAttribute: ctrl.mergedAttribute })"
               ng-if="!ctrl.isSingleAttribute && aggregate.type === 'number'">
        <span ng-if="ctrl.isSingleAttribute">{{ctrl.mergedAttribute[aggregateName]}}</span>
    </div>
</td>
<td ng-if="ctrl.groupMode !== 'CATEGORY'">
    <span ng-if="ctrl.mergedAttribute.conflicting_categories" style="display: flex; align-items: center; gap: 4px" toggle="tooltip" title="These attributes belong to different categories">
        <i class="dku-icon-warning-outline-16"></i>Conflict
    </span>
    <span ng-if="!ctrl.mergedAttribute.conflicting_categories">{{ctrl.mergedAttribute.category_names.join(", ")}}</span>
</td>
<td ng-if="ctrl.groupMode !== 'TEMPLATE'">
    <span>{{ctrl.mergedAttribute.template_name}}</span>
</td>
