<div class="dropdown elements-dropdown--container">
    <button
            class="dropdown-toggle elements-dropdown--button"
            type="button"
            data-toggle="dropdown"
            aria-expanded="false"
            aria-haspopup="true"
            ng-click="ctrl.onClick()"
            dropdown-position="fixed"
    >
        <span ng-if="!ctrl.elements || ctrl.elements.length === 0">Load scope</span>
        <span ng-if="ctrl.elements && ctrl.elements.length > 0">Scope: ({{ctrl.getSelectedElementsCount()}}/{{ctrl.elements.length}}) Elements</span>
        <i class="dku-icon-caret-down-16"></i>
    </button>
    <ul class="dropdown-menu elements-dropdown--dropdown">
        <li ng-repeat="element in ctrl.elements"
            value="{{element.url}}"
            ng-click="ctrl.onClickElement(element, $event)"
            class="elements-dropdown--element"
        >
            <span>
                {{element.title}}
            </span>
            <i class="dku-icon-eye-16" ng-show="ctrl.isElementSelected(element)"></i>
        </li>
    </ul>
</div>
