<div class="pi-system-explorer__loading-modal" aria-hidden="true">
    <div class="pi-system-explorer__loading-modal-icon"></div>
    <div class="pi-system-explorer__loading-modal-header" ng-if="header">{{header}}</div>
    <div class="pi-system-explorer__loading-modal-text">{{text}}</div>
    <div class="pi-system-explorer__loading-modal-warning" ng-if="warning">
        <i class="dku-icon-warning-fill-16"></i>
        {{warning}}
    </div>
    <div class="pi-system-explorer__loading-modal-warning-text" ng-if="warningText">{{warningText}}</div>
</div>
