<link rel="stylesheet" href="/plugins/pi-system/resource/pi-system_af-explorer.css">
<div class="generic-class" ng-controller="AfExplorerFormCtrl" ng-init="init()">
    <div class="pi-system-explorer__tree-view-container" ng-if="showTreeData">
        <div ng-if="config.database_name" class="pi-system-explorer__tree-view">
            <div class="tree-view__header">
                <div class="tree-view__tabs">
                    <div class="tree-view__tab" ng-click="setTab('element')" ng-class="{active: config.activeTab === 'element'}">
                        <div class="tree-view__tab-content">Elements</div>
                    </div>
                    <div class="tree-view__tab" ng-click="setTab('template')" ng-class="{active: config.activeTab === 'template'}">
                        <div class="tree-view__tab-content">Templates</div>
                    </div>
                </div>
                <div class="tree-view__search-panel" ng-if="config.activeTab === 'element'">
                    <div class="tree-view__search-row">
                        <basic-search-box
                                ng-model="config.element_name"
                                placeholder="Search element"
                                click-clear="clearSearch()"
                                ng-keydown="onSearchInputKeydown($event)"
                        >
                        </basic-search-box>
                        <button ng-click="searchFromElement()" class="btn btn--secondary link-like"
                                id="get-query-dim-prop" ng-disabled="!config.element_name">Search
                        </button>
                    </div>
                    <div class="tree-view__search-actions" ng-if="ui.searchInProgress">
                        <button ng-click="clearSearch()" class="btn btn--secondary link-like">
                            Clear search
                        </button>
                    </div>
                    <div ng-if="elementSearchNoMatch" class="alert alert-warning">
                        No matching element found
                    </div>
                </div>
            </div>
            <div class="tree-view__content">
<!--                <div>-->
<!--                    Filter by category<select dku-bs-select ng-model="config.element_category"-->
<!--                                              ng-options="dbn.title as dbn.title for dbn in config.element_categories" ng-init="getCategoriesFromDB()"-->
<!--                                              ng-change="doSearch(config.element_name, config.attribute_name)"/>-->
<!--                </div>-->
                <button
                        class="btn btn--outline btn--secondary btn--dku-icon"
                        ng-click="clearAllVisualizedNodes()"
                        ng-if="ui.clickedNodes.length > 0">
                    <i class="dku-icon-dismiss-16"></i>
                    Clear all
                </button>
                <ul ng-if="config.activeTab === 'element' && elementTree && elementTree.length">
                    <li ng-repeat="node in elementTree track by node.id">
                        <tree-node node="node" get-children-from-db="getChildrenFromDB" toggle-display-attributes="toggleDisplayAttributes"
                                   config="config" clicked-nodes="ui.clickedNodes" toggle-node-visualization="toggleNodeVisualization(node)">
                        </tree-node>
                    </li>
                </ul>
                <ul ng-if="config.activeTab === 'template' && templateTree && templateTree.length">
                    <li ng-repeat="node in templateTree track by node.id">
                        <tree-node node="node" get-children-from-db="getChildrenFromDB" toggle-display-attributes="toggleDisplayAttributes"
                                   config="config" clicked-nodes="ui.clickedNodes" toggle-node-visualization="toggleNodeVisualization(node)">
                        </tree-node>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pi-system-explorer__main">
        <div class="pi-system-explorer__header">
            <div>
                Welcome to Pi System Plugin
            </div>
            <button
                    class="btn btn--outline btn--primary btn--dku-icon"
                    ng-click="showDatasetPreviewModal()"
                    ng-disabled="!config.outputSelectedAttributes.length">
                <i class="dku-icon-dataset-16"></i>
                Preview dataset
            </button>
        </div>
        <div class="pi-system-explorer__content">
            <pi-system-auth-banner></pi-system-auth-banner>
            <!-- TODO: move the table to a separate component-->
            <!-- Attributes Section -->
            <div class="attribute-tab pi-system-explorer__center-view" ng-if="showTreeData">
                <div class="attribute-section__search">
                    <div><strong>Attributes and templates</strong></div>
                    <div>
                        <basic-search-box
                                ng-model="ui.attributeSearch"
                                placeholder="Search attribute or template name"
                                ng-change="refreshAttributeSection()"
                        >
                        </basic-search-box>
                    </div>
                    <button ng-click="changeGroupingMode()">Change grouping mode</button>
                    <div class="attribute-section__filters-row">
                        <label class="attribute-section__filters-toggle">
                            <span class="dku-toggle dku-toggle-no-content">
                                <input type="checkbox" ng-model="ui.displayPath">
                                <span></span>
                            </span>
                            <span>Display attribute paths</span>
                        </label>
                        <label class="attribute-section__filters-toggle">
                            <span class="dku-toggle dku-toggle-no-content">
                                <input type="checkbox" ng-model="ui.onlyDisplayCommon" ng-change="refreshAttributeSection()">
                                <span></span>
                            </span>
                            <span>Only common attributes</span>
                        </label>
                    </div>
                    <!--                <div>-->
                    <!--                    Filter by category-->
                    <!--                    <select dku-bs-select ng-model="config.attribute_category"-->
                    <!--                            ng-options="dbn.title as dbn.title for dbn in config.attribute_categories"-->
                    <!--                            ng-init="getCategoriesFromDB()"-->
                    <!--                            ng-change="refreshAttributeSection()"></select>-->
                    <!--                </div>-->
                </div>
                <div
                        attribute-table-block
                        ng-if="groupedAttributesFallbackGrouping && !groupedAttributesFallbackGrouping.empty"
                        grouped-attributes="groupedAttributesFallbackGrouping"
                        config="config"
                        display-path="ui.displayPath"
                        title="getAttributeTableTitle(true)"
                        group-mode="groupMode"
                        display-element-dropdown="false"
                        aggregate-data-type-fields="aggregateDataTypeFields"
                        on-toggle-select-all-grouped-attributes="toggleSelectAllGroupedAttributes(groupedAttributeGroup)"
                        on-toggle-grouped-attributes="toggleGroupedAttributes(group)"
                        on-is-at-least-partially-selected="isAtLeastPartiallySelected(item)"
                        on-init-elements-dropdown="initElementsDropdown(templateName)"
                        on-is-template-associated-element-selected="isTemplateAssociatedElementSelected(element)"
                        on-apply-click-elements-dropdown="applyClickElementsDropdown(templateName, element, selected)"
                        on-check-attribute="checkAttribute(mergedAttribute)"
                        on-update-data-type="updateMergedAttributeDataType(mergedAttribute)"
                        on-update-aggregate="updateMergedAttributeAggregate(mergedAttribute)">
                </div>
                <div
                        attribute-table-block
                        grouped-attributes="groupedAttributes"
                        config="config"
                        display-path="ui.displayPath"
                        title="getAttributeTableTitle()"
                        group-mode="groupMode"
                        display-element-dropdown="true"
                        aggregate-data-type-fields="aggregateDataTypeFields"
                        on-toggle-select-all-grouped-attributes="toggleSelectAllGroupedAttributes(groupedAttributeGroup)"
                        on-toggle-grouped-attributes="toggleGroupedAttributes(group)"
                        on-is-at-least-partially-selected="isAtLeastPartiallySelected(item)"
                        on-init-elements-dropdown="initElementsDropdown(templateName)"
                        on-is-template-associated-element-selected="isTemplateAssociatedElementSelected(element)"
                        on-apply-click-elements-dropdown="applyClickElementsDropdown(templateName, element, selected)"
                        on-check-attribute="checkAttribute(mergedAttribute)"
                        on-update-data-type="updateMergedAttributeDataType(mergedAttribute)"
                        on-update-aggregate="updateMergedAttributeAggregate(mergedAttribute)">
                </div>
            </div>
        </div>
    </div>

</div>
