<link rel="stylesheet" href="/plugins/pi-system/resource/pi-system_af-explorer.css">
<div class="generic-class"
     ng-controller="AfExplorerFormCtrl"
     ng-init="init()"
     ng-class="{'pi-system-explorer--frozen': ui.uiFrozen}"
     ng-attr-aria-disabled="{{ ui.uiFrozen ? 'true' : undefined }}">
    <div class="pi-system-explorer__tree-view-container" ng-if="showTreeData">
        <div ng-if="config.database_name" class="pi-system-explorer__tree-view">
            <div class="tree-view__header">
                <div class="tree-view__tabs">
                    <div class="tree-view__tab" ng-click="setTab('element')" ng-class="{active: activeTab === 'element'}">
                        <div class="tree-view__tab-content">Elements</div>
                    </div>
                    <div class="tree-view__tab" ng-click="setTab('template')" ng-class="{active: activeTab === 'template'}">
                        <div class="tree-view__tab-content">Templates</div>
                    </div>
                </div>
                <div class="tree-view__search-panel">
                    <div style="display: flex; flex-direction: column; gap: 4px;">
                        <div ng-class="{'pi-system-explorer__page-mode--active': inSearchMode}"
                             class="pi-system-explorer__page-mode"
                             ng-click="toggleSearchMode(true)"
                        >
                            <i class="dku-icon-search-16"></i>
                            Search {{activeTab}}s or attributes
                        </div>
                        <div ng-class="{'pi-system-explorer__page-mode--active': !inSearchMode}"
                             class="pi-system-explorer__page-mode"
                             ng-click="toggleSearchMode(false)"
                             style="display: flex; justify-content: space-between;"
                        >
                            <span style="display: flex; gap: 8px;">
                                <i class="dku-icon-eye-16"></i>
                                Attributes view
                            </span>
                            <span
                                    ng-click="clearAllVisualizedNodes(); $event.stopPropagation();"
                                    ng-if="ui.clickedNodes.length > 0"
                                    style="color: #7092f2; cursor: pointer;"
                            >
                                Clear all
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tree-view__separator"></div>
            <div class="tree-view__content">
                <ul ng-if="activeTab === 'element' && elementTree && elementTree.length">
                    <li ng-repeat="node in elementTree track by node.id">
                        <tree-node node="node" get-children-from-db="getChildrenFromDB" toggle-display-attributes="toggleDisplayAttributes"
                                   config="config" clicked-nodes="ui.clickedNodes" toggle-node-visualization="toggleNodeVisualization(node)"
                                   selected-element-paths="selectedElementPaths"
                        ></tree-node>
                    </li>
                </ul>
                <ul ng-if="activeTab === 'template' && templateTree && templateTree.length">
                    <li ng-repeat="node in templateTree track by node.id">
                        <tree-node node="node" get-children-from-db="getChildrenFromDB" toggle-display-attributes="toggleDisplayAttributes"
                                   config="config" clicked-nodes="ui.clickedNodes" toggle-node-visualization="toggleNodeVisualization(node)"
                                   selected-element-paths="selectedElementPaths"
                        ></tree-node>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pi-system-explorer__main">
        <div ng-if="errorBannerVisible" class="alert alert-warning pi-system-explorer__error-banner">
            {{errorBannerMessage}}
        </div>
        <div class="pi-system-explorer__header">
            <div>
                Welcome to Pi System Plugin
            </div>
            <div>
                <button
                        class="btn btn--outline btn--primary btn--dku-icon"
                        ng-click="showDatasetPreviewModal()"
                        ng-disabled="!config.outputSelectedAttributes.length">
                    <i class="dku-icon-dataset-16"></i>
                    Preview dataset
                </button>
                <button
                        class="btn btn--outline btn--primary btn--dku-icon"
                        ng-click="openLoginModal()">
                    Login
                    <i class="dku-icon-arrow-sign-in-16" ng-if="!authConfigured()"></i>
                    <i class="dku-icon-checkmark-12" ng-if="authConfigured()" style="padding-left: 4px;"></i>
                </button>
        </div>
        </div>
        <div class="pi-system-explorer__content">
            <div
                    class="pi-system-explorer__login-prompt"
                    ng-if="!authConfigured() || !showTreeData" style="display: flex; flex-direction: column; gap: 8px;">
                <div>
                    Your database login information has changed but hasn’t been applied yet <br/>
                    Reopen the LOGIN modal and complete your login to display the database content
                </div>
                <button
                        class="btn btn--outline btn--primary btn--dku-icon"
                        ng-click="openLoginModal()">
                    Login
                </button>
            </div>
            <!-- Search mode -->
            <div class="attribute-tab pi-system-explorer__center-view" ng-if="inSearchMode" style="display: flex; flex-direction: column; gap: 16px;">
                <div style="display: flex;">
                    <select dku-bs-select ng-model="search.searchMode" class="pi-system-explorer__search-mode__type-selector">
                        <option value="element" ng-if="activeTab === 'element'">Elements</option>
                        <option value="template" ng-if="activeTab === 'template'">Templates</option>
                        <option value="attribute">Attributes</option>
                    </select>
                    <basic-search-box class="pi-system-explorer__search-mode__search-box"
                            ng-model="search.searchString"
                            placeholder="Search {{search.searchMode}}s by name"
                            ng-change="applySearch()"
                    >
                    </basic-search-box>
                </div>
                <div ng-if="search.searchMode === 'attribute'">Use filters to find what you need faster and improve loading times</div>
                <div style="display: flex; flex-direction: column; gap: 4px; border: 1px solid #f0efec;">
                    <div class="pi-system-explorer__search-result"
                         ng-class="{ 'pi-system-explorer__search-result--visualized': ui.clickedNodes.includes(result.nodes[0].url) }"
                         ng-repeat="(nodeId, result) in search.searchResults track by nodeId"
                         ng-click="toggleNodeVisualization(result.nodes[0])"
                    >
                        <div style="display: flex; gap: 4px;">
                            <div ng-if="search.searchMode === 'element'">
                                {{prettifyElementPath(result.nodes[0].path, config.database_title)}}
                            </div>
                            <div ng-if="search.searchMode === 'template'">
                                {{result.nodes[0].title}}
                            </div>
                            <i ng-click="$event.stopPropagation(); targetSearchResult(result)"
                               class="dku-icon-target-16 pi-system-explorer__search-result-action"></i>
                        </div>
                        <i class="dku-icon-eye-16 pi-system-explorer__search-result-eye"></i>
                    </div>
                </div>
            </div>
            <!-- Attributes view -->
            <div class="attribute-tab pi-system-explorer__center-view" ng-if="showTreeData && !inSearchMode">
                <div class="attribute-section__search">
                    <div><strong>Attributes and templates</strong></div>
                    <div>
                        <basic-search-box
                                ng-model="ui.attributeFiltering.attributeSearch"
                                placeholder="Filter by attribute or template name"
                                ng-change="refreshAttributeSection()"
                        >
                        </basic-search-box>
                    </div>
                    <div class="attribute-section__filters">
                        <div class="attribute-section__filter-column">
                            <div class="attribute-section__filter-label">Category</div>
                            <select dku-bs-select multiple
                                    ng-model="ui.attributeFiltering.attributeCategoryFilterList"
                                    ng-change="refreshAttributeSection()"
                                    ng-options="category.value as category.label for category in attributeCategoryFilterOptions">
                            </select>
                        </div>
                        <div class="attribute-section__filter-column">
                            <div class="attribute-section__filter-label">Value type</div>
                            <select dku-bs-select
                                    ng-model="ui.attributeFiltering.attributeValueTypeFilter"
                                    ng-change="refreshAttributeSection()"
                                    ng-options="valueType.value as valueType.label for valueType in attributeValueTypeFilterOptions">
                            </select>
                        </div>
                    </div>
                    <div class="attribute-section__grouping-toggle">
                        <div class="attribute-section__grouping-toggle--element" ng-click="changeGroupingMode('TEMPLATE')" ng-class="{active: groupMode === 'TEMPLATE'}">
                            <div class="attribute-section__grouping-toggle-content">Templates</div>
                        </div>
                        <div class="attribute-section__grouping-toggle--element" ng-click="changeGroupingMode('CATEGORY')" ng-class="{active: groupMode === 'CATEGORY'}">
                            <div class="attribute-section__grouping-toggle-content">Categories</div>
                        </div>
                    </div>
                    <div class="attribute-section__filters-row">
                        <label class="attribute-section__filters-toggle">
                            <span class="dku-toggle dku-toggle-no-content">
                                <input type="checkbox" ng-model="ui.displayPath">
                                <span></span>
                            </span>
                            <span>Display attribute paths</span>
                        </label>
                        <label class="attribute-section__filters-toggle">
                            <span class="dku-toggle dku-toggle-no-content">
                                <input type="checkbox" ng-model="ui.onlyDisplayCommon" ng-change="refreshAttributeSection()">
                                <span></span>
                            </span>
                            <span>Only common attributes</span>
                        </label>
                    </div>
                </div>
                <div
                        attribute-table-block
                        ng-if="groupedAttributesFallbackGrouping && !groupedAttributesFallbackGrouping.empty"
                        grouped-attributes="groupedAttributesFallbackGrouping"
                        config="config"
                        display-path="ui.displayPath"
                        elements-by-template="elementsByTemplate"
                        title="getAttributeTableTitle(true)"
                        group-mode="groupMode"
                        display-element-dropdown="false"
                        active-tab="activeTab"
                        aggregate-data-type-fields="aggregateDataTypeFields"
                        prettify-element-path="prettifyElementPath"
                        on-toggle-select-all-grouped-attributes="toggleSelectAllGroupedAttributes(groupedAttributeGroup)"
                        on-toggle-grouped-attributes="toggleGroupedAttributes(group)"
                        on-is-at-least-partially-selected="isAtLeastPartiallySelected(item)"
                        on-init-elements-dropdown="initElementsDropdown(templateName)"
                        on-is-template-associated-element-selected="isTemplateAssociatedElementSelected(element)"
                        on-apply-click-elements-dropdown="applyClickElementsDropdown(templateName, element, selected)"
                        on-check-attribute="checkAttribute(mergedAttribute)"
                        on-update-data-type="updateMergedAttributeDataType(mergedAttribute)"
                        on-update-aggregate="updateMergedAttributeAggregate(mergedAttribute)">
                </div>
                <div
                        attribute-table-block
                        grouped-attributes="groupedAttributes"
                        config="config"
                        display-path="ui.displayPath"
                        elements-by-template="elementsByTemplate"
                        title="getAttributeTableTitle()"
                        group-mode="groupMode"
                        display-element-dropdown="true"
                        active-tab="activeTab"
                        aggregate-data-type-fields="aggregateDataTypeFields"
                        prettify-element-path="prettifyElementPath"
                        on-toggle-select-all-grouped-attributes="toggleSelectAllGroupedAttributes(groupedAttributeGroup)"
                        on-toggle-grouped-attributes="toggleGroupedAttributes(group)"
                        on-is-at-least-partially-selected="isAtLeastPartiallySelected(item)"
                        on-init-elements-dropdown="initElementsDropdown(templateName)"
                        on-is-template-associated-element-selected="isTemplateAssociatedElementSelected(element)"
                        on-apply-click-elements-dropdown="applyClickElementsDropdown(templateName, element, selected)"
                        on-check-attribute="checkAttribute(mergedAttribute)"
                        on-update-data-type="updateMergedAttributeDataType(mergedAttribute)"
                        on-update-aggregate="updateMergedAttributeAggregate(mergedAttribute)">
                </div>
            </div>
        </div>
    </div>

    <div class="pi-system-explorer__freeze-overlay" ng-if="ui.uiFrozen" aria-hidden="true"></div>
    <loading-overlay
            ng-if="ui.loadingOverlay.displayed"
            header="ui.loadingOverlay.header"
            text="ui.loadingOverlay.text">
    </loading-overlay>
</div>
